* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;

}

body{
    
    background-size: cover;
    background-repeat: no-repeat;
    
}
section {

    
    padding: 140px 80px 32px;
}

